# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
robots.txt
cache
log
web/uploads/*
nbproject
web/*.sql.*
*.html.gz
*.js.gz
*.css.gz
*.xml.gz
*.eot.gz
*.svg.gz
*.ttf.gz
*.woff.gz

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
.idea

logs/*

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

/bootstrap/compiled.php
vendor/